[Unit]
Description=Postiz PostgreSQL Database
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/postgres:17-alpine
PodmanArgs=--pod postiz-pod
EnvironmentFile=ENV_FILE_PLACEHOLDER
Environment=POSTGRES_USER=postiz-user
Environment=POSTGRES_DB=postiz-db-local
Volume=POSTGRES_VOLUME_PLACEHOLDER
DNS=8.8.8.8
DNS=8.8.4.4
HealthCmd=pg_isready -U postiz-user -d postiz-db-local
HealthInterval=10s
HealthTimeout=3s
HealthRetries=3

[Install]
WantedBy=default.target